

$button-size: 4rem;
$gap-size: .5rem;

$shadow-color: black;

$background-color:#A2A2AA;
$frame-color:#5A6178;

$numeric-color: #EAE3DB;

$acent-red: #D13F30;
$acent-grey:#90A0CE;
$acent-blue:#355DC1;


* {
    box-sizing: border-box;
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    background-color: $background-color;
}
button {
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    box-shadow: 0 0 .2rem $shadow-color;
}
button:active {
    box-shadow: inset 0 0 .8rem $shadow-color;
}
.App  {
    width: calc( (4  * $button-size ) + ( 5 * $gap-size) );
    display: flex;
    flex-direction: column;
    background-color: $frame-color;
    gap: $gap-size;
    padding: $gap-size;
    border-radius: $gap-size;
}

.displayScreen {
    width: 100%;
    height: 4rem;
    background-color: $numeric-color;
    box-shadow: inset 0 0 .2rem $shadow-color;
    position: relative;
    p {
        position: absolute;
        right: $gap-size;
    }
    .displayLine {
        top: 0;
    }
    .displayValue {
        bottom: $gap-size;
        font-size: 2rem;
        font-weight: 600;
    }
}


.button-grid {
    display: grid;
    grid-template-columns: repeat(4, $button-size);
    grid-template-rows: repeat(5, $button-size);
    gap: $gap-size;
}

#zero, #decimal, #delete {
    grid-row: 5;
}
#zero {
    grid-column: 2/3;
}
#equals {
    grid-column: 4/5;
    grid-row: 4/6 ;
}
#one, #two, #three {
    grid-row: 4;
}
#four, #five, #six, #add {
    grid-row: 3;
}
#seven, #eight, #nine, #subtract {
    grid-row: 2;
}

#clear {
    grid-column: 1/3;
    grid-row: 1/2;
}




.numeric-key {
    background-color: $numeric-color;
}
.functional-key {
    background-color: $acent-blue;
    color: #fff;
}
#delete, #clear, #equals {
    background-color: $acent-red;
    color: #fff;
}